* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.window {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.3),
        0 8px 30px rgba(0, 0, 0, 0.25);
}

.time_card {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 6px 18px rgba(2,6,23,0.6);
    border: 1px solid #ffffff1a;
    border-radius: 30px;
}
.time_card_hours {
    font-size: 180px;
    font-weight: bold;
    margin-top: -100px;
}

.time_card_date {
    font-size: 32px;
    margin-top: -220px;
}

.sliders trough {
    background-color: #ffffff12;
    border: 0.5px solid #ffffff10;
    min-width: 100px;
    border-radius: 20px;

}

.sliders highlight {
    min-width: 100px;
    border-radius: 15px;
}

.sliders slider {
    background: none;
    border: none;
    display: none;
}

.volume_icon {
    size: 30px;
    width: 30px;
    height: 30px;
}

.box_button_grid {
    margin-bottom: 13px;
}

.card_status {
    margin-top: 113px;
}

.button {
    border-radius: 40px;
    background: #ffffff12;
    border: 0.5px solid #ffffff10;

}

.button:checked {
    background: #2789D0;
}

.card_task {
    background: #00000050;
    border-radius: 30px;
    border: 1px solid #ffffff1a;
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.3),
        0 8px 30px rgba(0, 0, 0, 0.25);
}

.task_label_tittle {
    background: #ffffff12;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px 30px 0px 0px;
    min-height: 50px;
    text-align: center;
    align-items: center;
}

.button_add_task {
    border-radius: 20px;
    min-width: 20px;
    min-height: 20px;
    background: #ffffff32;
    border: 0.5px solid #ffffff10;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    margin-top: 3px;
}

.button_add_task:hover {
    background: #ffffff36;
}

.button_add_task:active {
    background: #ffffff5d;
}


.task_space {
    background: #87878710;
    border: 0.5px solid #ffffff10;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 25px;
    padding: 10px;
}

.task_checkBox check {
    min-width: 30px;
    min-height: 30px;
    background: #ffffff00;
    border: whitesmoke 3px solid;
}

.task_informations {
    margin-left: 15px;
}

.task_tittle {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
}

.task_description {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 5px;
}

.box_status {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3));
    box-shadow: 0 6px 18px rgba(2,6,23,0.6);
    border: 1px solid #ffffff1a;
    border-radius: 30px;
}

.label_status_tittle {
    color: whitesmoke;
    font-size: 32px;
    font-weight: bold;
    background-color: #ffffff12;
    min-height: 60px;
    border-radius: 30px 30px 0px 0px;
}


.label_internal {
    font-size: 25px;
    font-weight: lighter;
}

.label_status {
    font-size: 25px;
}

.progress_status_usage trough {
    min-height: 55px;
    background: #87878720;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 0.5px solid #ffffff10;
}

.progress_status_usage progress {
    min-height: 55px;
    background: #2789D0;
    border-radius: 10px;
}

.progress_status_temperature trough {
    min-height: 55px;
    background: #87878720;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 0.5px solid #ffffff10;
}

.progress_status_temperature progress {
    min-height: 55px;
    background: #2789D0;
    border-radius: 10px;
}

.free_ram {
    min-height: 55px;
    background: #87878720;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 0.5px solid #ffffff10;
}

.popover_box {
    background: #32323278;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 6px 18px rgba(2,6,23,0.6);
    border: 2px solid #ffffff1a;
    border-radius: 30px;
}

.button_create_task {
    border-radius: 0px 0px 30px 30px;
}






